Django==5.2.5
Pillow==10.4.0
requests==2.32.3
gunicorn==23.0.0
whitenoise==6.7.0
psycopg2-binary==2.9.9
python-decouple==3.8
dj-database-url==2.2.0
cloudinary==1.40.0
django-cloudinary-storage==0.3.0
